#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#about > p {
  text-align: center;
  color: var(--grey);
  line-height: 3.2rem;
  margin-bottom: 8.5rem;
}

#about #contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#about .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .contact .icon {
  background-color: var(--dark);
  padding: 1.767rem;
  clip-path: circle();
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.9rem;
  z-index: -1;
}

#about .contact i {
  font-size: 3.2rem;
  color: var(--green);
}

#about .contact p:nth-child(2) {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#about .contact a {
  color: var(--grey);
  transition: color 0.2s;
}

#about .contact a:hover {
  text-decoration: underline;
  color: var(--green);
}

@media (max-width: 738px) {
  #about #contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  #about {
    height: 100%;
  }
}
