#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 14rem;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--background);
  border-bottom: 1px solid var(--dark-light);
}

#header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header nav ul li {
  font-size: 1.8rem;
  margin-right: 4.5rem;
}

#header nav ul li:nth-child(4) {
  margin-right: 0rem;
}

#header nav ul li a {
  position: relative;
}

#header nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--green);
  position: absolute;
  border-radius: 8px;
  transition: width 0.2s;
  left: 0;
  bottom: -1.5rem;
}

#header nav ul li a:hover::after {
  width: 100%;
}
