#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home > div {
  min-width: 40%;
}

#home > div:nth-child(1) {
  min-width: 50%;
}

#home h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  text-align: left;
}

#home p {
  font-weight: 500;
  color: var(--grey);
  margin-bottom: 3.5rem;
}

#home .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
}

#home .buttons a:nth-child(1) {
  background: var(--green);
  margin-right: 1.5rem;
  color: var(--background);
}

@media (max-width: 1024px) {
  #home > div:nth-child(1) {
    min-width: 55%;
  }
}

@media (max-width: 768px) {
  #home {
    flex-direction: column-reverse;
  }
  #home h2 {
    text-align: center;
  }
  #home p {
    text-align: center;
  }
  #home .buttons {
    max-width: 100%;
    flex-direction: column;
  }
  #home .buttons a:nth-child(1) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 500px) {
  #home {
    height: 100%;
  }
}
